.App {
  text-align: center;
}
.public_icon{
  width: 10% !important;
  height: 10% !important;
}
.messagecard{
  padding: 20px !important;
  display: flex !important;
  flex-direction: row !important;
}
.messagecard_input{
  flex: 1;
}
.messagecard_btn{
  flex: 0;
}
.toolbar{
  justify-content: center !important;
}
