.message{
  padding: 10px;
  margin: 10px;
  width: fit-content;
}
.message_user{
  margin-left: auto;
  color: #fff;
  text-align: left !important;
}
.message_userCard{
  background-color: #5773ff !important;
}
.message_guestCard{
  background-color: #c2c2c3 !important;
}
